#root {
  color: #5DB7DE;
}

body {
  margin: 0;
  background-color: #07020D;
}

.container {
  margin: 2rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 45%;
}

.form button {
  margin: auto;
  width: fit-content;
  border: none;
  background-color: #716a5c63;
  color: #5DB7DE;
  padding: 10px;
  border-radius: 10px;
}

.resume {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}

.skill p {
  color: #A39B8B;
}

span a {
  color: #A39B8B;
  padding: 0;
}
